.rect1 {
	width: 800px;
	height: 500px;
	background-color: #139F44;
	position: absolute;
}
.rect2 {
	margin-top: 25px;
	margin-left: 25px;
	position: relative;
	width: 750px;
	height: 450px;
	border: 2px solid white;
	
}

.arco1, .arco2{
	display: inline-block;
	height: 200px;
	width: 120px;
	border: 2px solid white;
	top:130px;


}
.arco1 {
	
	position: relative;
    margin-left: -2px
}

.arco2 {
	
	position: absolute;
	left: 628px;
}
/*centro cancha*/
.circulo {
	position: relative;
	top:130px;
    display: inline-block;
    left: 150px;
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid white;
    
}
/*pelotas*/
.primera{
	position: absolute;
	left: 110px;
	top:133px;
}
.segunda{
	position: absolute;
	left: 410px;
	top: 60px;
}
.tercera{
	position: absolute;
	left: 600px;
	top: 310px;
}